
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    /* border: 1px solid red; */
}
#navbar{
    display: none;
}

#header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 30%;
    /* border: 1px solid red;
    background-color: yellow; */
}
#logo img{
    width: 100%;
}
#hero{
    width: 100%;
}
#hero div{
    width: 100%;
}
#hero div img{
    width: 100%;
}

#product,#Booster,#tulsi,#parent,#healthy,#footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-child{
    width: 30%;
    text-align: center;
}
.product-child img{
    width: 100%;
}
#uniqb{
    width: 100%;
    text-align: center;
}
.booster-item{
    width: 100%;
    margin: 10px;
    box-shadow: 10px 10px 10px grey;
    text-align: center;
    border: 1px solid red;
}
.booster-item img{
    width: 100%;
}
.tulsi-child{
    width: 100%;
    margin: 10px;
}
.tulsi-child img{
    width: 90%;
}
#puniq{
    width: 100%;
}
.imgchild{
    width: 20%;
}
.imgchild img{
    width: 100%;
}
.txtchild{
    width: 75%;
}

.healthy-child{
    width: 100%;
}
.healthy-child img{
    width: 100%;
}
.ftitem{
    width: 100%;
    text-align: center;
}
#copy{
    width: 100%;
    background-color: green;
    text-align: center;
    padding: 20px 0px;
}


@media only screen and (min-width:768px){
   #logo img{
    width: 40%;
} 
#menubar{
    width: 50%;
    text-align: right;
}
.booster-item{
    width: 30%;
}

#shape{
    clip-path: polygon(13% 0, 70% 0, 80% 100%, 21% 100%);
}

.tulsi-child{
    width: 45%;
}

.healthy-child{
    width: 47%;
}

.ftitem{
    width: 47%;
}
  
}


@media only screen and (min-width:1200px){
 #menubar{
    display: none;
 }

 #navbar{
    display: block;
}
#navbar nav ul{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    margin: 0px 10px;
}

 #logo img{
    width: 20%;
} 

.product-child{
    width: 23%;
}
.product-child img{
    width: 70%;
}

.booster-item{
    width: 17%;
}

#shape{
   clip-path: circle(50% at 50% 50%);
}
.ftitem{
    width: 23%;
}
}
